.header {
    padding: 30px 140px 30px 130px;
}

@media (max-width: 850px) {
    .header {
    padding: 30px 140px 30px 30px;
}
}

.header ul {
    display: flex;
    margin-left: 54px;
    gap: 40px;
}

.header li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-dark-1);
}

.order-site {
    margin-left: auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white-1);
    background: var(--color-blue-1);
    border: none;
    border-radius: 12px;
}

.navbar {
    display: none;
}

@media (min-width: 1010px) {
    .navbar {
        display:flex;
        align-items: center;
}
}

.navbar-mobile {
    display: flex;
    margin: auto 0;
}

@media (min-width: 1010px) {
    .navbar-mobile {
        display: none;
}
}

.navbar-mobile img {
    height: 30px;
}

.burger-menu {
    border: none;
    background: var(--color-white-1);
}

.brand {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-dark-1);
}