.services {
    padding: 48px 118px 35px;
    background: black;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 764px) {
    .services {
    padding: 48px 30px 35px 30px;
}
}

.services h2{
    font-size: 32px;
    text-align: center;
    color: var(--color-white-1);
    font-family: 'Montserrat', sans-serif;
}

.services ul {
    display: flex;
    margin-top: 34px;
    gap: 30px;
    overflow-x: auto;
}

.services li {
    width: 242px;
    padding: 16px;
    background: var(--color-white-1);
    border-radius: 8px;
}

.services h3 {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-dark-2);
}

.services h4 {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark-2);
}

.services p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gray-1);
}